*{
    
}
body{
    background-color: #162464;
}

.container{
    /* background-color: red; */
    display: flex;    
    /* height: 108px; */
}

.logotipo{
    flex:1;
/* background-color: green; */
display: flex;

}

.YOSHI img{
     height: 108px;
}



.nome-site{
display: flex;
align-items: center;
margin-left: 96px;
color: whitesmoke;
font-size: 40px;
font-family: "Open Sans";

}
.links{
    flex: 2;
    justify-content: right;
/* background-color: rgb(139, 139, 175); */
display: flex;
justify-content: end;
align-items: center;
/* margin-right: 80px; */

}
.links a{
    margin-right: 80px;
    text-decoration: none;
    color: whitesmoke;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: bolder;
}
.links a:hover{
    transform: scale(1.2);
    color: chocolate;
}

.home{
    /* background-color: chocolate; */
    margin: 0px;
    display: flex;
    height: 900px;

}

.home-page{
    flex: 1;
    display: flex;
    justify-content: center;
}


/* .banner{
    height: 500px;
    width: 1500px;
    display: flex;
    /* background-image: url(../img/homepage/mario.png); */
    /* background-position: 20px -50px; */
    /* background-size: ; *//*
    background-position: center;
} */
.banner p{
    margin: 100px;
    background-color: #162464;
    color: whitesmoke;
    font-size: 40px;
    border-radius: 10px;

}

.mario-homepage{
    height: 500px;
}

.container-1{
    display: flex;
    height: 350px;
    margin: 10px;
}

.texto-apresentacao p{
    flex: 2;
    /* background-color: blueviolet; */
    /* color: whitesmoke; */
    font-size:15 px;
    color: whitesmoke;
    font-family: "Open Sans";

}
.bloco-img-1, .bloco-img-2, .bloco-img-3, .texto-apresentacao{
    flex: 1;
    margin: 10px;
    height: 290px;
}

.bloco-img-1{
    flex: 1;
    background-image: url(../img/homepage/gameboy\ home\ page.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.bloco-img-2 {
    background-image: url(../img/homepage/sonic\ genesis.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.bloco-img-3 {
    background-image: url(../img/homepage/bomba.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

h1{
    color: whitesmoke;
    font-family: "Open Sans";
    margin-left: 10px;
}
.emulators{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.games{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-emulator{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.card-game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 45px;

}
.img-emulator{
    height: 200px;
}
.img-game{
    height: 300px;
    width: 250px;

}
.card-title{
    color: white;
    font-size: 25px;
    display: flex;
    text-align: center;
    font-family: monospace;
}


.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}
.btn-download{
    text-decoration: none;
    color: whitesmoke;
    background-color: olivedrab;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
}

.btn-download:hover{
    transform: scale(1.2);
}

.container-5{
    background-color: black;
    display: flex;
}
.direitos{
    flex: 1;
    color: aliceblue;
    font-size: 20px;
    font-family: monospace;
    display: flex;
    justify-content: right;
    align-items: center;
}
.redes-sociais{
    flex:1;
    display: flex;
    justify-content: left;
    align-items: center;
}

.redes{
    color: aliceblue;
    margin: 60px;

}
.redes:hover{
    color: chocolate;

    transform: scale(1.2);
}

@media (max-width: 768px) {
    .home{
        display: none;
    }
    .home-linha{
        display: none;
    }

    html {
        touch-action: manipulation; /* Impede ações de toque que podem provocar zoom */
    }
    .container-5{
        background-color: black;
        display: flex;
        flex-wrap: wrap;
    }
    .redes{
        color: aliceblue;
        margin: 30px;

    }

    .direitos{

        font-size: 10px;

    }
    .img-emulator{
        height: 100px;
    }
    .img-game{
        height: 200px;
        width: 150px;
    
    }
    .card-title{
        font-size: 15px;
    }
    .links{
        display: flex;
        flex-direction: column;
        align-items: start;
        
    }
    .links a{
        font-size: 10px;
    }
    .container{
        display: flex;
        flex-direction: column;

    }
    .nome-site{
        font-size: 20px;
    }
    .direitos{
        align-items: start;
        justify-content: start;
    
    }
    .direitos p{
        margin: 5px;
    }
}
